{% extends 'base.html' %}

{% block content %}
  
 <form method="POST" class="text-center mx-auto"> 
   {% csrf_token %}
  <h1>Login - passwordsafe</h1>
  <br>
  <div class="form-row">
    <div class="col">
      <input type="text" name="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="col">
      <input type="password" name="password" class="form-control" id="password" placeholder="password">
    </div>
  </div>
  <br>
    <button type="submit" class="btn btn-success col-md-6">Login</button>
    
 </form>

{% endblock %}