{% extends 'base.html' %}

{% block content %}
  
 <form method="POST" class="text-center mx-auto"> 
   {% csrf_token %}
   {% if messages %}
     {% for message in messages %}
        {{message}}
      {% endfor %}
   {% endif %}

	
  <div class="form-group row col-lg-6 row d-flex justify-content-center">
    <label for="username" class="col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" name="username" class="form-control" id="username">
    </div>
  </div>
  <div class="form-group row col-lg-6 row d-flex justify-content-center">
    <label for="password" class=" col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="password">
    </div>
  </div>
   
    
    <button type="submit" class="btn btn-success">Login</button>
    
 </form>

{% endblock %}